@tailwind base;
@tailwind components;
@tailwind utilities;

.react-resizable {
  position: relative;
}

.react-resizable-handle {
  z-index: 10;
  position: absolute;
  width: 16px;
  height: 100%;
  bottom: 0;
  right: -8px;
  cursor: col-resize;
}

.react-resizable-handle:hover::after {
  opacity: 1;
}
.react-resizable-handle::after {
  opacity: 0;
  content: "";
  display: block;
  position: absolute;
  left: 6px;
  top: 0;
  bottom: 0;
  @apply border-l-4 border-indigo-500;
}
